/*
 * тестовых полей ввода;
 * радио-кнопок;
 * флажков;
 * списков;
 * кнопок;
 * полей обязательных к заполнению.
*/

#city1 {  }

input { margin: 5px; }
fieldset { margin-left: 15px; margin-top: 15px; margin-bottom: 15px; margin-right: 80%;}

input[type="text"], input[type="email"], input[type="password"], textarea {
	border:1px solid green;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:10px;
	padding: 5px 10px 5px 10px;
}

textarea { width: 150px; }

button {
	background: #50911e;
	border: 1px solid #509111;
	width: 100px;
	height: 30px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

/*input:required { border:1px solid blue; }*/

input:checked + span {
    background: #fc0; }

input[type="checkbox"] { margin: 5px; }
input[type="radio"] { margin: 5px; }

option { padding: 5px 10px 5px 10px; }
select { margin: 10px; }
option:hover { background: olive ;}

