nav {
	background: #0A7878;
	padding: 20px;
}

body {
	padding: 10px;
}

header {
	background: #22ABAB;
	padding: 10px;
	color:  white;
}

article {
	padding: 10px;
}

a {color: #D9E1E1;}
A:visited { color: #D9E1E1;}
A:active { color: #ffff00; }
