@media print {

.newpage{page-break-before: always;}

nav {
	display: none;
}

body {
	padding: 10px;
	background: white;
	color: black;
	background-image: none;
}

.header_body {
	display: none;
}

header {
	color: black;
}

article {
	padding: 10px;
}

footer {
	display: none;
}

a{border:0;text-decoration:none; color: black;}
