div {
	width: 80%;
	border: 3px dotted #22ABAB;
	border-radius: 20px;
	margin: 10px;
	padding: 15px;
}

table { 
	width: 100%;
	border: 1px solid gray;
}

table caption {
	font-size: 20px; 
	font-weight: bold;
	padding-bottom: 15px;
}

td {
	vertical-align: center; 
	text-align: left; 
}

td, th { 
	padding: 10px; 
	border: 1px solid gray;
}

tbody tr:hover { background: #68BFD9; }
td:hover { background: #309EC0;}

tr:nth-child(2n) { background: #CEEAF3; }
tr:nth-child(2n+1) { background: #C6EFFB; }
