div{ 
	padding: 10px;
	margin: 10px;
	width: 450px;
}

#text1 {
	font-weight: bold;
	font-size: 16pt;
	border-bottom: 2px dotted #22ABAB;
	border-radius: 20px;
}
#text2 {
	background: #22ABAB;
	border: 3px groove red;
	border-radius: 20px;
	
}
