div {
	/*border: 2px dotted #22ABAB;*/
	text-align: center;
	border-radius: 10px;
}

#container_main {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;
	align-items: center;*/
	padding: 20px;
}

#container1, #container2, #container3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*align-items: strech;
	 * background: #CDD5D4;*/
	padding-top: 5px;
}

#container1 { flex-basis: 100px }
#container2 { flex-basis: 500px }
#container3 { flex-basis: 20px }

.head_left, .head_right, .nav_left, .nav_right { width: 20%; }

.head_center, .body { 
	width: 59%; 
	margin-left: 5px;
	margin-right: 5px;
}

.head_left { background: #C1DAE6; }
.head_center { background: #C1E6C2; }
.head_right { background: #E1E6C1; }
.nav_left { background: #E6CFC1; }
.nav_right { background: #E6C1C9; }
.body{ background: #CAC1E6; }
.footer{
	background: #C1E6E3;
	width: 100%;
}
