body {
	font-family: Helvetica, Arial, sans-serif;
}

.yes {
	background-color: green;
}

.no {
	background-color: red;
}

#answer {
	margin-top: 1.5em;
	text-align: center;
	font-weight: bold;
	font-size: 80pt;
	color: white;
	height: 1em;
	margin-bottom: 1em;
}

#now {
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
}

p {
	text-align: center;
}

button {
	font-size: 30pt;
}