div { 
	border: 1px dotted #22ABAB;
	border-radius: 20px;
	margin: 10px;
	padding: 15px;
}


div.dogs p {background-color:red;}
div.cats h1.tail strong {background-color:orange;}
div#content p.main {background-color:yellow;}
ul.navigation li.selected a span {background-color:green;}
div.header ul li.logo {background-color:blue;}
div div div span.divspan{background-color:purple;}
table.graph tr td {background-color:pink;}/*
*/
