/*
    все элементы h2;
    все элементы с идентификатором intro;
    все элементы h2, которые находятся внутри элемента с идентификатором intro;
    все элементы h2 кроме тех, которые находятся внутри элемента с идентификатором intro; TO DO
    элементы p внутри элемента с идентификатором content;
    элементы p, которые являются непосредственными потомками элемента с идентификатором content;
    элементы с классом bordered;
    элементы h2 c классом bordered. 
*/

h2 { color:SteelBlue; }

#intro { background: RosyBrown; }

#intro h2 { color:OldLace; }

div:not(#intro) h2 {color:blue;}

h2 #intro { color:red; }

#content p { background: Azure; }

#content>p { background: Tan; }

.bordered { background: Aquamarine; }

h2.bordered { background: Coral; }


